doctype html
html
  head
    title= title
    link(rel="stylesheet" href="./css/style.css" type="text/css")
    link(rel="stylesheet" href="./css/header.css" type="text/css")
  include ./header.pug
  body
    p Game終了
    script(src='./js/header.js' type="text/javascript")
