html
  head
    title= title
    link(rel="stylesheet" href="./css/style.css" type="text/css")
    link(rel="stylesheet" href="./css/header.css" type="text/css")
  body
    include ./header.pug
    div#othello 
    #{iniArray}
  script(src='./js/viewFunctions.js' type="text/javascript")
  script(src='./js/vs-cpu-room.js' type="text/javascript")