div
    div.header
        ul.header_ul
            li: a a
            li: a(href="/rooms") 通信対戦
            li: a c
            li: a d
        ul.menu_icon_ul
            img#menu_icon_id.menu_icon(src="./images/menu.svg" onclick="visibleMenu();")
            img#close_icon_id.close_icon(src="./images/close.svg" onclick="hiddenMenu();")
    div.hanbarger_menu
        ul#hanbarger_menu_id.hanbarger_menu_ul
            li.menu_item a
            li.menu_item b
            li.menu_item c
        