html
  head
    title= title
    link(rel="stylesheet" href="./css/style.css" type="text/css")
    link(rel="stylesheet" href="./css/header.css" type="text/css")
  body
    include ./header.pug
    div 
      p 強さ設定
      p 強さを選択するとゲームが始まります
      button(onclick="startGame(1)") 弱め
      button(onclick="startGame(2)") 普通
      button(onclick="startGame(3)") 強め
  script(src='./js/header.js' type="text/javascript")
  script(src='./js/vs-cpu.js' type="text/javascript")